 

:root {
  
  --space-3xs: 0.125rem; 
  --space-2xs: 0.25rem;  
  --space-xs: 0.375rem;  
  --space-sm: 0.5rem;    
  --space-md: 1rem;      
  --space-lg: 1.5rem;    
  --space-xl: 2rem;      
  --space-2xl: 3rem;     
  --space-3xl: 4rem;     

  
  --radius-xs: 3px;
  --radius-sm: 6px;
  --radius: 10px;
  --radius-md: 12px;
  --radius-lg: 14px;
  --radius-xl: 20px;
  --radius-full: 9999px;

  
  --icon-2xs: 12px;
  --icon-xs: 14px;
  --icon-sm: 16px;
  --icon-md: 18px;
  --icon-lg: 20px;
  --icon-xl: 24px;
  --icon-2xl: 32px;
  --icon-3xl: 48px;

  
  --btn-height-xs: 24px;
  --btn-height-sm: 28px;
  --btn-height-md: 36px;
  --btn-height-lg: 44px;
  --btn-height-xl: 52px;

  
  --max-width: 1200px;
  --nav-height: 44px;
  --sidebar-width: 280px;
}
