 

:root {
  
  --font-mono: "JetBrains Mono", monospace;
  --font-body: var(--font-mono);
  --font-ui: var(--font-mono);
  --font-display: var(--font-mono);
  --font-hero: var(--font-mono);
  --font-logo: var(--font-mono);

  
  --text-3xs: 0.5rem;    
  --text-2xs: 0.55rem;   
  --text-xs: 0.65rem;    
  --text-sm: 0.75rem;    
  --text-base: 0.875rem; 
  --text-md: 1rem;       
  --text-lg: 1.2rem;     
  --text-xl: 1.44rem;    
  --text-2xl: 1.728rem;  
  --text-3xl: 2.074rem;  

  
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  
  --tracking-tighter: -0.02em;
  --tracking-tight: -0.01em;
  --tracking-normal: 0;
  --tracking-wide: 0.04em;
  --tracking-wider: 0.08em;
  --tracking-widest: 0.12em;

  
  --leading-none: 1;
  --leading-tight: 1.2;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;
}
